/*remove the interruption of margin*/
* {
  box-sizing: border-box;
}

/*remove the interruption of default margin in heading*/
h1, h2, h3, h4, h5 {
  margin: 0;
}

/*when click the archer, scroll to the center*/
html {
  scroll-padding-top: 50vh;
  scroll-behavior: smooth;
}

$dark-primary-color: #616161;
$light-primary-color: #F5F5F5;
$primary-color: #9E9E9E;
$text-icon-color: #ffffff;
$accent-color: #9E9E9E;
$primary-text: #212121;
$second-text: #757575;
$divider-color: #BDBDBD;

body {
  font-family: Oswald, Arial, Helvetica, sans-serif;
  margin: 0
}

header {
  display: grid;
  padding: 50px 0 0 0;
  place-items: center;
  width: 100vw;

  #logo {
    height: 4rem;
  }
}

.wrapper {
  display: grid;
  padding: 50px;
  place-items: center;
  width: 100vw;
}
/*navigation*/
nav {
  height: 40px;
  width: 100px;
  border-radius: 50px;
  background: $text-icon-color;
  display: flex;
  gap: 1rem;
  padding: 1rem;
  place-items: center;
  /*fixed in the bottom on the all the elements*/
  position: fixed;
  bottom: 1.8rem;
  z-index: 100;
  overflow: hidden; /*make the second menu hidden*/

  a {
    display: inline-block;
    text-decoration: none;
    color: $second-text;

    /*change the color*/
    &:hover {
      text-decoration: underline;
      color: $primary-color;
    }
  }

  /*the second-menu dont show initially*/
  .second-menu {
    opacity: 0;
  }

  /*the cycle*/
  #menu-top {
    width: 20px;
    height: 20px;
    border: 2px solid $second-text;
    border-radius: 50%;
  }

  /*when hover the nav, show all the menu*/
  &:hover {
    width: 300px;

    .second-menu {
      opacity: 1;
    }

    #menu-top {
      width: 20px;
      height: 20px;
      border: 2px solid $second-text;
      border-radius: 0;
    }
  }
}


main {
  display: grid;
  grid-template-columns: 1fr;
}

footer {
  color: $text-icon-color;
  background: $dark-primary-color;
  height: 30vh;
  width: 100vw;
  display: grid;
  padding: 50px;
  grid-template-columns: 1fr 1fr 1fr;

  .contact-us {
    display: grid;
    text-align: right
  }

  .follow-us {
    display: grid;
  }

  .social-media {
    img {
      width: 2rem;
    }
  }

  .copyright {
    text-align: center;
  }
}

.border {
  border: 2px solid white;
  border-radius: 20px;
}

.shadow {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.3);
}

.transition {
  transition: all 0.3s ease-in-out;
}

.button {
  height: 2.25rem;
  width: 5rem;
  color: $text-icon-color;
  background: transparent;
  text-decoration: none;
  display: grid;
  place-items: center;
  border: 2px solid white;
  border-radius: 20px;
}

