body {
  font-family: Raleway, Arial, sans-serif;
  font-weight: 400;
}

/* Set all bold elements to the proper weight */
h1, h2, h3, h4, h5, h6, strong, b, th {
  font-weight: 700;
}

ul {
  li {
    list-style-type: '\01F63B';
    list-style-image: url("../images/heart.svg");
  }
}

ol{
  li {
    list-style-type: simp-chinese-informal;
  }
}

dl{
  background: #ccf;
  width: 500px;
}

dt{
  background: #ccc;
  font-weight: 700;
  font-size: 1.2em;
}
dd{
  font-style: italic;
}
