* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    background-color: #666;
    margin: 0;
}

#wrapper {
    background-color: #fff;
    max-width: 960px;
    margin: 0 auto;
    position: relative;
}

header {
    height: 140px;
    background-color: #cff;
    padding: 8px;
    /* Note: padding only adds to the width of a box if that box has a "width" property.
       without width, the box simply expands to the same width as the parent (the wrapper
       in this case). This is another reason to avoid widths in our single column layout. */
    background-image: url(../images/header_bg.jpg);
}

header #logo {

    background-color: rgba(255, 255, 255, 0.8);
    padding: 8px;
    position: absolute;
    top: 13px;
    left: 15px;

}

/* Styles for the tagline */
header #tagline {
    color: #fff;
    font-size: 3.2em;
    position: absolute;
    top: 4px;
    right: 15px;
}

nav {
    height: 35px;
    background-color: #f9f;
    background: linear-gradient(#eef, #cce, #aac);

}

/*
  Things we need to do to make our list work as a horizontal navigation menu:
  1. Remove Margins and Padding.
  2. Remove the bullets.
  3. For horizontal menu, we need to make the elements line up.
    There are several ways to make the element (<li>s) line up.
    3.1: Floats: We can set up each <li> to float: left. This will cause the other
         elements to "float" up next to the previous ones.
    3.2: Set <li> to display: inline; THis is not good, because we cannot use box properties
         on inline elements.
    3.3: Set <li>s to display: inline-block;. This allows the elements to line up horizontally,
         just like inline elements, but we can now use BOX properties. They behave like block
         elements. Padding, margins, borders will all work properly.
   4. Remove underline and change color.
*/


nav > ul {
    margin: 0;
    padding: 0;
    margin-left: 15px;
    white-space: nowrap;
}

nav ul li {
    list-style-type: none;
    /* inline-block allows element to line up
       like inline element, but still take box
       properties like block level elements. */
    display: inline-block;
    margin-right: 4px;
}

nav ul li a {
    text-decoration: none;
    color: #000;
    padding: 8px 25px 8px 25px;
    display: block;
    transition: all .3s ease-in-out;
}

nav ul li:hover a {
    background-color: #666;
    color: #fff;
}

/* CSS for popup menu */
/* We need to override the previous LI rules, because our popup menu needs
   to show vertically, not horizontally. We can set different appearances for
   this menu as well. After we get it looking like we want it, we will then
   HIDE it. After that, we want to SHOW it on a :hover. */

/* Targeting the LI that will be hovered.
   Additionally, we want to set a position for this LI, so that our submenu
   which is also positioned, will take its reference from the LI. */

nav ul li.has_submenu {
    position: relative;
    perspective: 500px;
}

/* popup menu */
nav ul li.has_submenu ul {
    margin: 0;
    padding: 0;
    background-color: rgba(68, 68, 68, 0.5);
    min-width: 188px;
    position: absolute;
    top: 35px;
    left: 0px;
    visibility: hidden;
    opacity: 0;
    box-shadow: 0 4px 7px rgba(0, 0, 0, 0.5);

    -webkit-transform: rotateX(60deg);
    transform: rotateX(60deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

nav ul li.has_submenu:hover ul {
    visibility: visible;
    opacity: 1;
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
}

nav ul li.has_submenu ul li {
    display: block;
    margin: 5px;
}

nav ul li.has_submenu ul li a {
    background-color: rgba(221, 221, 221, 0.8);
    padding: 8px 18px 8px 11px;
    font-size: 0.9em;
    color: #000;
}

nav ul li.has_submenu ul li a:hover {
    background-color: #555;
    color: #fff;
}


section#content {
    padding: 8px;
}

footer {
    height: 150px;
    background-color: #333;
    color: #fff;
    padding: 8px;
}

/* Media Queries */
@media all and (max-width: 850px) {
    nav ul li a {
        padding: 8px 18px 8px 18px;
    }
}

