/*remove the interruption of marin*/
* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5 {
  margin: 0;
}

/*when click the archer, scroll to the center*/
html {
  scroll-padding-top: 50vh;
  scroll-behavior: smooth;
}

$dark-primary-color: #1976D2;
$light-primary-color: #BBDEFB;
$primary-color: #2196F3;
$text-icon-color: #FFFFFF;
$accent-color: #03A9F4;
$primary-text: #212121;
$second-text: #757575;
$divider-color: #BDBDBD;

body {
  font-family: Oswald, Arial, Helvetica, sans-serif;
  margin: 0
}


header {
  display: grid;
  background-color: $primary-color;
  color: $text-icon-color;
  grid-template-columns: 2fr 1fr;
  position: sticky;
  top: 0;
  width: 100vw;
  height: 10vh;
  padding: 0 10px;

  /*make the logo img and cafe name center*/
  .logo {
    display: flex;
    align-items: center;
  }

  #logo {
    height: 2rem;
  }
}


nav {
  ul {
    display: grid;
    grid-template-columns: repeat(5, 1fr);

    li {
      list-style-type: none;

      a {
        text-decoration: none;
        color: $text-icon-color;
      }
    }
  }
}

.wrapper {
  display: grid;
  place-items: center;
  width: 100vw;
}

footer {
  background-color: $primary-color;
  color: $text-icon-color;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  #copyright {
    grid-column: 1/4;
    text-align: center;
  }
}

.border {
  border: 1px solid white;
  border-radius: 20px;
}

.shadow {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.1); /* Material Design shadow */
}

.transition {
  transition: all 0.3s ease-in-out;
}

.button {
  height: 2.25rem;
  width: 5rem;
  color: $text-icon-color;
  background: transparent;
  text-decoration: none;
  display: grid;
  place-items: center;
  border: 1px solid white;
  border-radius: 20px;
}

.long-button {
  height: 2.25rem;
  width: 10rem;
  color: $text-icon-color;
  background: transparent;
  text-decoration: none;
  display: grid;
  place-items: center;
  border: 1px solid white;
  border-radius: 20px;
}
