/*remove the interruption of margin*/
* {
    box-sizing: border-box;
}

/*remove the interruption of default margin in heading*/
h1, h2, h3, h4, h5 {
    margin: 0;
}

/*when click the archer, scroll to the center*/
html {
    scroll-padding-top: 50vh;
    scroll-behavior: smooth;
}

body {
    font-family: Oswald, Arial, Helvetica, sans-serif;
    margin: 0;
}

header {
    display: grid;
    place-items: center;
    width: 100vw;
}
header #logo {
    height: 4rem;
}

nav {
    height: 40px;
    width: 100px;
    border-radius: 50px;
    background: #FFFFFF;
    display: flex;
    gap: 1rem;
    padding: 1rem;
    place-items: center;
    /*fixed in the bottom on the all the elements*/
    position: fixed;
    bottom: 1.8rem;
    z-index: 100;
    overflow: hidden; /*make the second menu hidden*/
    /*the second-menu dont show initially*/
    /*the cycle*/
    /*when hover the nav, show all the menu*/
}

nav a {
    display: inline-block;
    text-decoration: none;
    color: #757575;
    /*change the color*/
}

nav a:hover {
    text-decoration: underline;
    color: #2196F3;
}

nav .second-menu {
    opacity: 0;
}

nav #menu-top {
    width: 20px;
    height: 20px;
    border: 2px solid #757575;
    border-radius: 50%;
}

nav:hover {
    width: 300px;
}

nav:hover .second-menu {
    opacity: 1;
}

nav:hover #menu-top {
    width: 20px;
    height: 20px;
    border: 2px solid #757575;
    border-radius: 0;
}

.wrapper {
    display: grid;
    place-items: center;
    width: 100vw;
}

footer {
    background-color: #2196F3;
    color: #FFFFFF;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
footer #copyright {
    grid-column: 1/4;
    text-align: center;
}

.border {
    border: 1px solid white;
    border-radius: 20px;
}

.shadow {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.3);
}

.transition {
    transition: all 0.3s ease-in-out;
}

.button {
    height: 2.25rem;
    width: 5rem;
    color: #FFFFFF;
    background: transparent;
    text-decoration: none;
    display: grid;
    place-items: center;
    border: 1px solid white;
    border-radius: 20px;
}

.long-button {
    height: 2.25rem;
    width: 10rem;
    color: #FFFFFF;
    background: transparent;
    text-decoration: none;
    display: grid;
    place-items: center;
    border: 1px solid white;
    border-radius: 20px;
}

.wrapper {
    background-image: url("../media/bg.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}

/*intro */
.home-intro-container {
    display: grid;
    grid-template-rows: 4fr 2fr 4fr;
    place-items: center;
    height: 100vh;
    color: #FFFFFF;
}

h2 {
    font-size: 5em;
}

/*cats*/
.home-cats-container {
    width: 100vw;
    height: 100vh;
    background-color: #FFFFFF;
    display: grid;
    grid-template-rows: 3fr 1fr 6fr 1fr;
    place-items: center;
}
.home-cats-container .home-cat-card-group {
    max-width: 960px;
}
.home-cats-container .home-cat-card {
    width: 220px;
    height: 370px;
    background-size: cover;
    overflow: hidden;
    color: #FFFFFF;
    position: relative;
    display: inline-block;
    /*make the text on the image*/
}
.home-cats-container .home-cat-card img {
    height: 110%;
    filter: grayscale(0.3);
    object-fit: contain;
    transition: all 0.3s ease-in-out;
}
.home-cats-container .home-cat-card:hover img {
    transform: scale(1.1);
    filter: grayscale(0);
}
.home-cats-container .home-cat-card .home-card-text {
    position: absolute;
    width: 220px;
    height: 370px;
    top: 0;
    text-align: center;
    display: grid;
    grid-template-rows: 10fr 1fr 22fr 11fr;
    place-items: center;
}
.home-cats-container .card-line {
    height: 1px;
    width: 50%;
    background: #FFFFFF;
}

/*# sourceMappingURL=home.css.map */
