<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Yanyan Cafe - order</title>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&family=Roboto:wght@400;700&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="../base.css">
    <link rel="stylesheet" href="../mobile.css">

    <style>
      .wrapper {
        background-image: url("../media/bg.jpg");
        background-attachment: fixed;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>
    <div class="wrapper">
      <header>
        <img id="logo" src="../media/logo.png" alt="yanyan cafe">
      </header>
      <nav class="transition shadow">
        <div class="transition">
          <div class="menu-shape" id="menu-top"></div>
        </div>
        <a href="../index.html">Home</a>
        <a class="second-menu" href="cats.html">Cats</a>
        <a class="second-menu" href="menu.html">Menu</a>
        <a class="second-menu" href="about.html">About</a>
        <a class="second-menu" href="club.html">Club</a>
      </nav>

      <footer>
        <div class="follow-us">
          <div>Follow us for daily doses of feline charm! 🐾</div>
          <div class="social-media">
            <a href="#"><img src="../media/social-media/facebook.svg" alt="facebook"></a>
            <a href="#"> <img src="../media/social-media/instagram.svg" alt="instagram"></a>
            <a href="#"> <img src="../media/social-media/youtube.svg" alt="youtube"></a>
          </div>
        </div>
        <div class="copyright">Copyright &copy;2023 - Night Fae Studio</div>
        <div class="contact-us">
          <div>paracidex@gmail.com</div>
          <div>664 Portage Ave, Winnipeg, MB, Canada</div>
        </div>
      </footer>
    </div>
  </body>
</html>
