/* This is CSS to style the cd_list.xml file */

@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:wght@700&family=Roboto:wght@300;500&display=swap');

cd_info {
    font-family: Roboto, Arial, sans-serif;
    font-weight: 300;
    background-color: #fdd;
    display: block;
    padding: 12px;
    font-size: 18px;
}

cd {
    display: block;
    margin-bottom: 1.5em;
    border: 1px solid #000;
    padding: 15px;
    width: 400px;
    background: linear-gradient(#676, #232);
    color: #fff;
}

cd title {
    font-family: "Lobster two", Tahoma, sans-serif;
    display: block;
    font-size: 1.5em;
    font-weight: 700;
    margin-bottom: .4em;
}

cd artist {
    display: block;
    font-size: 1.15em;
    font-weight: 500;
}

cd song {
    display: list-item;
    list-style-position: inside;
    margin-top: 0.3em;
    list-style-type: "\01F4BF";
}

cd year {
    display: block;
    font-weight: 500;
    margin-top: 0.3em;
    font-size: 1.2em;
    font-style: oblique;
}

cd year::before {
    content: '(';
}

cd year::after {
    content: ')';
}

