body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #555;
}

#wrapper {
  max-width: 960px;
  background-color: #fff;
  margin: 0 auto;
  padding: 1px 8px 8px 8px;
  box-sizing: border-box;
}

#box {
  background-color: rgba(153, 204, 153, 1);
  position: absolute;
  top: 150px;
  left: 200px;
}

#box2 {
  background-color: rgba(153, 153, 153, 1);
  position: absolute;
  top: 250px;
  left: 100px;
}

dialog {
  top: 200px;
}

#fixed-box {
  background-color: rgba(153, 111, 153, 1);
  position: fixed;
  top: 0;
}

