/* This is CSS to style the cd_list.xml file */

@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:wght@700&family=Roboto:wght@300;500&display=swap');

cd_info {
    font-family: Roboto, Arial, sans-serif;
    font-weight: 300;
    background-color: #fdd;
    display: block;
    padding: 12px;
    font-size: 18px;
}

cd {
    display: block;
    margin-bottom: 1.5em;
    border: 1px solid #000;
    padding: 15px;
    width: 400px;
    background: linear-gradient(#676, #232);
}
